[Unit]
Description=Servicio para gestionar las copias espejo.
After=mount.service

[Service]
ExecStart=/usr/bin/backups-mirror.sh

[Install]
WantedBy=multi-user.target