[Unit]
Description=Servicio para gestionar las copias de seguridad de los archivos de configuración.
After=mount.service

[Service]
ExecStart=/usr/bin/backups-etc.sh

[Install]
WantedBy=multi-user.target